{% extends "/templates/standard.html.twig" %}

{% block content %}
    <h1>Trym: {{trym}}</h1>
    <h1>Daniel: {{daniel}}</h1>
    <h1>Marcus: {{marcus}}</h1>
    <h1>Title: {{title}}</h1>
{% endblock %}
